@inject ILogger<EquippedItemDisplay> Logger
@inject ProjectPioneer.Systems.IGame ProjectPioneerGame

<table class="table bg-light" style="width: 50%">
    <thead>
        <tr class="@ColorTheme --bs-bg-opacity: .5">
            <th>Equipped: @EquippedItemType | @SymbolHelper.GetEquipmentSymbol(@EquippedItem) | @EquippedItem?.EquipmentType </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="@SymbolHelper.GetItemArt(EquippedItem)" alt="@SymbolHelper.GetItemArtAlt(EquippedItem)"/> | @EquippedItem?.Name
            </td>
            <td>
                P-Atk: @EquippedItem?.Stats.PhysicalAttack |
                P-Def: @EquippedItem?.Stats.PhysicalDefense | 
                M-Atk: @EquippedItem?.Stats.MagicalAttack | 
                M-Def: @EquippedItem?.Stats.MagicalDefense | 
                Spd: @EquippedItem?.Stats.PhysicalDefense
            </td>
        </tr>
        <tr>
            <td>
                @SymbolHelper.GetELementalSymbol(StatType.FireAttack)-Atk: @EquippedItem?.Stats.FireAttack |
                @SymbolHelper.GetELementalSymbol(StatType.FireDefense)-Def: @EquippedItem?.Stats.FireDefense |
                @SymbolHelper.GetELementalSymbol(StatType.IceAttack)-Atk: @EquippedItem?.Stats.IceAttack |
                @SymbolHelper.GetELementalSymbol(StatType.IceDefense)-Def: @EquippedItem?.Stats.IceDefense
            </td>
            <td>
                @SymbolHelper.GetELementalSymbol(StatType.LightningAttack)-Atk: @EquippedItem?.Stats.LightningAttack |
                @SymbolHelper.GetELementalSymbol(StatType.LightningDefense)-Def: @EquippedItem?.Stats.LightningDefense |
                @SymbolHelper.GetELementalSymbol(StatType.EarthAttack)-Atk: @EquippedItem?.Stats.EarthAttack |
                @SymbolHelper.GetELementalSymbol(StatType.EarthDefense)-Def: @EquippedItem?.Stats.EarthDefense
            </td>
        </tr>
    </tbody>
</table>

@code {
	[Parameter]
	public IEquipment? EquippedItem { get; set; }
    
    [Parameter]
    public string? EquippedItemType { get; set; }
    
    [Parameter]
    public string? ColorTheme { get; set; }

}
