@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;

@inject ILogger<QuestLootItemDisplay> Logger
@inject Systems.IGame ProjectPioneerGame

@* <p class="@ColorTheme" style="width: 300px; --bs-bg-opacity: .5">@LootableItem?.Name | @Utility.SymbolHelper.GetEquipmentSymbol(LootableItem)</p> *@

<EquipmentButton ClickCallback="@(() => Logger.LogInformation("Clicked Quest Equipment"))"
                 CurrentEquipment="@_lootableEquipmentDisplay"
                 SelectedEquipment="@_selectedEquipment" 
                 Disabled="true"
                 IsShop=false/>

@code {
	[Parameter]
	public IEquipment? LootableItem { get; set; }
    
    [Parameter]
    public string? ColorTheme { get; set; }
	
	// List<EquipmentDisplay>? _equipmentCatalog;
	EquipmentDisplay? _lootableEquipmentDisplay;
	EquipmentDisplay? _selectedEquipment;
	
	protected override void OnInitialized()
	{
		_lootableEquipmentDisplay = new()
		{
			Index = 0,
			Equipment = LootableItem
		};
		_selectedEquipment = new();
		
		// for (int i = 0; i < _inventory.Count; i++)
		// {
		// 	_equipmentCatalog?.Add(new EquipmentDisplay()
		// 	{
		// 		Index = i,
		// 		Equipment = _inventory[i]
		// 	});
		// }
	}
}
