@page "/Game/MainGame"
@using ProjectPioneer.Blazor.Pages.Components;

@inject ILogger<MainGame> Logger
@inject ProjectPioneer.Systems.IGame ProjectPioneerGame

<h3>Project Pioneer Main Game</h3>
<DebugTools DebugCallback="@Callback" />
<br />
<br />
<br />

<table>
    <tr>
        <td>
            <HeroDisplay Hero="@ProjectPioneerGame.Hero" />
            <br />
            <br />
            <HeroStatsTotal Hero="@ProjectPioneerGame.Hero" />
            <br />
            <br />
            <InventoryDisplay @ref="InventoryComponent" InventoryCallback="@Callback" />
            <br />
            <br />
            <ShopDisplay ShopCallback="@Callback" />
            <br />
            <br />
        </td>
        <td>
            <QuestLogDisplay QuestLogCallback="@Callback" />
        </td>
    </tr>
</table>



@code {
    protected InventoryDisplay? InventoryComponent;

    protected override void OnInitialized()
    {
        InventoryComponent = new InventoryDisplay();
    }

    private void Callback()
    {
        InventoryComponent?.Refresh();
        base.InvokeAsync(StateHasChanged);
        Logger.LogInformation("Callback called");
    }
}
