@page "/Game/MainGame"
@using ProjectPioneer.Blazor.Pages.Components;

@inject ILogger<MainGame> Logger
@inject ProjectPioneer.Systems.IGame ProjectPioneerGame

<h3>Project Pioneer Main Game</h3>
<DebugTools DebugCallback="@Callback" />
<br />
<br />
<br />

<table>
    <tr>
        <td style="vertical-align: top; width: 50%">
            <HeroDisplay Hero="@ProjectPioneerGame.Hero" />
            <br />
            <br />
            <HeroStatsTotal Hero="@ProjectPioneerGame.Hero" />
            <br />
            <br />
            <InventoryDisplay @ref="_inventoryComponent" InventoryCallback="@Callback" />
            <br />
            <br />
            @* <ShopDisplay @ref="_shopComponent" ShopCallback="@Callback" /> *@
            @* <br /> *@
            @* <br /> *@
        </td>
        @* <td style="vertical-align: top; width: 50%"> *@
        @*     <QuestLogDisplay QuestLogCallback="@Callback" /> *@
        @* </td> *@
    </tr>
</table>



@code {
    private InventoryDisplay? _inventoryComponent;
    private ShopDisplay? _shopComponent;

    protected override void OnInitialized()
    {
        _inventoryComponent = new InventoryDisplay();
        _shopComponent = new ShopDisplay();
    }

    private void Callback()
    {
        _inventoryComponent?.Refresh();
        _shopComponent?.Refresh();
        base.InvokeAsync(StateHasChanged);
        Logger.LogInformation("MainGame Callback invoked");
    }
}
