@using ProjectPioneer.Blazor.Pages.Elements;
@using ProjectPioneer.Systems.Character;

<h3>Hero Display</h3>

Name: @Hero.Name
<br />
Exp: @Hero.Exp / @Hero.GetRequiredExp()
<br />
<ProjectPioneer.Blazor.Pages.Elements.AnimatedProgressBar @ref=_animatedQuestBar
    CurrentValue=@Hero.Exp
    MaxValue=@Hero.GetRequiredExp() />
<br />
<p class="bg-primary" style="width: 40%; --bs-bg-opacity: .5">Job: @Hero.Job.Name</p>
<p class="bg-success" style="width: 40%; --bs-bg-opacity: .5">Implant: @Hero.Implant.Name</p>
<br />
Equipped Weapon: @Hero.EquippedWeapon.Name
<br />
Equipped Armor: @Hero.EquippedArmor.Name
<br />
Equipped Aura: @Hero.EquippedAura.Name
<br />
<EquippedItemDisplay EquippedItem="@Hero.EquippedWeapon"/>

@code {
    [Parameter]
    public IHero Hero { get; set; }

    private AnimatedProgressBar? _animatedQuestBar;

    protected override void OnInitialized()
    {
        _animatedQuestBar = new AnimatedProgressBar();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await _animatedQuestBar.AddValue();
        }
    }
}
