@using ProjectPioneer.Systems.Character;

<h3>Hero Display</h3>

Hero Name: @Hero.Name
<br />
Hero Exp: @Hero.Exp
<br />
Hero Required Exp: @Hero.GetRequiredExp()
<br />
Hero Job: @Hero.Job.Name
<br />
Hero Implant: @Hero.Implant.Name
<br />
Equipped Weapon: @Hero.EquippedWeapon.Name
<br />
Equipped Armor: @Hero.EquippedArmor.Name
<br />
Equipped Aura: @Hero.EquippedAura.Name

@code {
    [Parameter]
    public IHero Hero { get; set; }
}
