@using ProjectPioneer.Systems.Equipment;
@using ProjectPioneer.Systems.Statistics;

@inject ILogger<InventoryDisplay> Logger
@inject ProjectPioneer.Systems.IGame ProjectPioneerGame

<h3>InventoryDisplay</h3>

Credits: @ProjectPioneerGame.GetCredits()
<br />

<button type="button" class="btn btn-primary" disabled="@(!CanEquip(_selectedEquipment.Equipment))" @onclick="@(_ => EquipSelectedItem())">
    Equip Selected Item
</button>
<br />
<button type="button" class="btn btn-danger" disabled="@(_selectedEquipment.Equipment == null)" @onclick="@(_ => SellSelectedItem())">
    Sell Selected Item
</button>
<br />
<button type="button" class="btn btn-link" disabled="@(_equipmentCatalog.Count <= 1)" @onclick="@(_ => SortInventory())">
    Sort Inventory
</button>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Equipment</th>
             <th>Comparison</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               @foreach (var item in _equipmentCatalog)
                {
                    <button type="button" class="btn @GetItemStyle(item)" @onclick="@(_ => SetDisplayedItem(item))">
                        @GetEquipmentSymbol(item.Equipment) | @item.Equipment.GetSellableValue(): @item.Equipment.Name | @(CanEquip(item.Equipment) ? "✅" : "❌")
                    </button>
                    <br />
                }
            </td>
            <td>
                @if(_selectedEquipment != null && _selectedEquipment.Equipment != null && _statsHeroEquipment != null)
                {
                    <CompareStatsDisplay Stats1="@_selectedEquipment.Equipment.Stats" Stats2="@_statsHeroEquipment" />
                }
            </td>
        </tr>
    </tbody>
</table>


@code {
    [Parameter]
    public EventCallback<string> InventoryCallback { get; set; }

    List<IEquipment> _inventory;
    List<EquipmentDisplay> _equipmentCatalog;
    EquipmentDisplay _selectedEquipment;

    Stats _statsHeroEquipment;

    protected override void OnInitialized()
    {
        _equipmentCatalog = new();
        _selectedEquipment = new();
        _inventory = new();
        Refresh();
        //_statsHeroEquipment = new();
        //TrySetInitialEquipment();
    }

    public void Refresh()
    {
        _inventory.Clear();
        _equipmentCatalog.Clear();
        _inventory = ProjectPioneerGame.GetInventory().ToList();

        //TrySetInitialEquipment();

        for (int i = 0; i < _inventory.Count; i++)
        {
            _equipmentCatalog.Add(new EquipmentDisplay()
            {
                Index = i,
                Equipment = _inventory[i]
            });
        }
        base.InvokeAsync(StateHasChanged);
    }

    private void TrySetInitialEquipment()
    {
        if (_selectedEquipment.Equipment == null && _inventory.Count > 0)
        {
            _selectedEquipment = new EquipmentDisplay()
            {
                Index = 0,
                Equipment = _inventory[0]
            };
        }
    }

    private bool CanEquip(IEquipment equipment)
    {
        if(equipment == null)
        {
            return false;
        }
        else
        {
            return ProjectPioneerGame.CanEquip(equipment);
        }
    }

    private string GetEquipmentSymbol(IEquipment equipment)
    {
        string symbol = "";
        switch (equipment.EquipmentType)
        {
            case EquipmentType.Blade:
                symbol = "⚔️";
                break;
            case EquipmentType.Gun:
                symbol = "🔫";
                break;
            case EquipmentType.Staff:
                symbol = "🧙‍";
                break;
            case EquipmentType.Armor:
                symbol = "🧥";
                break;
            case EquipmentType.Aura:
                symbol = "🛡️";
                break;
        }

        return symbol;
    }

    private void EquipSelectedItem()
    {
        ProjectPioneerGame.EquipEquipment(_selectedEquipment.Equipment, ProjectPioneerGame.Hero);
        _selectedEquipment.Equipment = null;
        Refresh();
        InventoryCallback.InvokeAsync().ConfigureAwait(false).GetAwaiter().GetResult();
    }

    private void SellSelectedItem()
    {
        ProjectPioneerGame.SellEquipment(_selectedEquipment.Equipment);
        _selectedEquipment.Equipment = null;
        Refresh();
        InventoryCallback.InvokeAsync().ConfigureAwait(false).GetAwaiter().GetResult();
    }

    private void SortInventory()
    {
        ProjectPioneerGame.SortEquipment();
        _selectedEquipment.Equipment = null;
        Refresh();
        InventoryCallback.InvokeAsync().ConfigureAwait(false).GetAwaiter().GetResult();
    }

    private void SetDisplayedItem(EquipmentDisplay equipmentDisplay)
    {
        // Remove selection if the user is re-selecting it
        if (_selectedEquipment.Equipment != null && _selectedEquipment.Index == equipmentDisplay.Index)
        {
            _selectedEquipment = new EquipmentDisplay()
            {
                Index = -1
            };
        }
        else
        {
            _selectedEquipment = new EquipmentDisplay()
            {
                Index = equipmentDisplay.Index,
                Equipment = _inventory[equipmentDisplay.Index]
            };
        }

        SetUpHeroEquipmentComparison();
    }

    private void SetUpHeroEquipmentComparison()
    {
        if (_selectedEquipment != null && _selectedEquipment.Equipment != null)
        {
            switch(_selectedEquipment.Equipment.EquipmentType)
            {
                case EquipmentType.Armor:
                    _statsHeroEquipment = ProjectPioneerGame.GetEquippedArmor().Stats;
                    break;
                case EquipmentType.Aura:
                    _statsHeroEquipment = ProjectPioneerGame.GetEquippedAura().Stats;
                    break;
                default:
                    _statsHeroEquipment = ProjectPioneerGame.GetEquippedWeapon().Stats;
                    break;
            }
        }
        else
        {
            _statsHeroEquipment = null;
        }
    }

    private string GetItemStyle(EquipmentDisplay equipmentDisplay)
    {
        return (_selectedEquipment.Index == equipmentDisplay.Index && _selectedEquipment.Equipment == equipmentDisplay.Equipment) ? "btn btn-info" : "btn btn-warning";
    }

    public class EquipmentDisplay
    {
        public int Index { get; set; }
        public IEquipment Equipment { get; set; }
    }
}