@using ProjectPioneer.Systems.Adventure;

@inject NavigationManager NavManager
@inject ILogger<QuestLogDisplay> Logger
@inject ProjectPioneer.Systems.IGame ProjectPioneerGame

<h3>QuestLogDisplay</h3>

<button type="button" class="btn btn-warning" disabled="@(_selectedQuest == null)" @onclick="@(_ => StartQuest())">
    Start Selected Quest
</button>
<br />
<br />

@foreach (var quest in ProjectPioneerGame.GetAllQuests())
{
    <button type="button" class="btn @GetItemStyle(quest)" @onclick="@(_ => SetDisplayedItem(quest))">
        @quest.QuestInfo.Name
    </button>
    <br />
    @quest.QuestInfo.Description
    <br />
    <hr />
}

@code {
    [Parameter]
    public EventCallback<string> QuestLogCallback { get; set; }

    private IQuest _selectedQuest;

    protected override void OnInitialized()
    {

        Refresh();
    }

    public void Refresh()
    {
        base.InvokeAsync(StateHasChanged);
    }

    private void SetDisplayedItem(IQuest quest)
    {
        // Remove selection if the user is re-selecting it
        if (_selectedQuest != null && _selectedQuest.QuestInfo.ID == quest.QuestInfo.ID)
        {
            _selectedQuest = null;
        }
        else
        {
            _selectedQuest = quest;
        }
    }

    private string GetItemStyle(IQuest quest)
    {
        return (_selectedQuest != null && _selectedQuest.QuestInfo.ID == quest.QuestInfo.ID) ? "btn btn-info" : "btn btn-warning";
    }

    private void StartQuest()
    {
        NavManager.NavigateTo($"/Adventure/QuestPage/{_selectedQuest.QuestInfo.ID}");
    }
}
