@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;

@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@

<br/>
<br/>
<br/>
<div class="border pioneer-table" style="border-width: medium; border-color: black">
    TEST 1
</div>

<div class="border border-3 border-dark rounded">
    TEST 2
</div>

<table class="table table-striped">
    <tr>
        <td>
            Test
        </td>
    </tr>
    <tr>
        <td>
            Test2
        </td>
    </tr>
</table>

<h3>Audio Testing</h3>
@* TODO: Dictionary of sounds for sound dir and length?  Or is there a better way? *@
<StandardButton 
    ButtonText="Fx_Success_Url"
    ButtonClass="@StylingHelper.Btn_Class_Primary"
    ClickSound="@AudioFxHelper.Fx_Success_Url"/>
<br />
<StandardButton 
    ButtonText="Fx_Cheer_Url"
    ButtonClass="@StylingHelper.Btn_Class_Primary"
    ClickSound="@AudioFxHelper.Fx_Cheer_Url"/>
<br />
<StandardButton 
    ButtonText="Fx_Positive_Url"
    ButtonClass="@StylingHelper.Btn_Class_Primary"
    ClickSound="@AudioFxHelper.Fx_Positive_Url"/>
<br />